/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    :focus { outline: none !important; } /* 모든 항목 focus시 아웃라인 제거 */
}

body {
    background-color: #eaf0ff;
    min-height: 100vh;
    overflow: hidden;
}

button {
    cursor:pointer;
    border: none;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffa099;
    color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 3px;
    margin-left: 4px;
}

.hidden {
    display: none;
}

input {
    border: none;
    background-color: transparent;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 125px;
}

#login-form {
    border: 1px solid #93a5f4;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 394px;
    height: 63px;
    background: linear-gradient(to left, #93a5f4 20%, transparent 20%);
    background-color: #FFF;
}
.fa-magnifying-glass {
    color: #FFF;
}

.nameinput {
    width: 160px;
    height: 40px;
    border: none;   
    background: none;
    margin: 0px 100px 0px 10px;
    font-size: 18px;
}
.searchbtn{
    background: none;
    border: 0;
}

.other {
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#greeting {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

#weather {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

#clock {
    font-size: 170px;
    color: #fff; 
    
}

/* modal */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 배경에 반투명한 검은색 레이어 추가 */
}


#modal-link {
    background-color: #93a5f4;
    border-radius: 100px;
    border: 1px solid #93a5f4;
    width: 250px;
    height: 63px;
    font-size: 28px;
    font-weight: lighter;
    color: #fff;
}

#modal {
    background-color: #fdfefff8;
    width: 550px;
    height: 670px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15%;
}

.modal-header {
    display: flex;
    width: 550px;
    height: 200px;
    font-size: 28px;
    justify-content: space-around;
    align-items: center;
    color: #7b7979;
}

#close-button {
    position: absolute;
    right: 50px;
    top: 32px;
    background:none;
    border: none;
    color: #a1aad1;
    cursor: pointer;
}
#todo-form{
    display: flex;
    justify-content: center;
}
.todoinput {
    margin-top: -20px;
    border: none;   
    background: none;
    color: #7b7979;
    font-size: 26px;
    margin-bottom: 40px;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ffa099;
    appearance: none;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background: #ffa099;
    border: none;
  }

  input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  }

  input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    font-size: 30px;
    color: white;
    text-align: center;
  }

li {
    list-style: none;
    margin:  0 20%;
    display: flex;
    align-items: center;
    line-height: 60px;
    font-size: 22px;
}

li > span {
    margin-left: 20px;
}

.trash {
    cursor: pointer;
    font-size: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid #ffa099;
    border-radius: 3px;
    background-color: #ffa099;
    margin: 0 0 0 20px;
    color: white;
}
/* sunny */
.layer1 {
    position: fixed;
    top: 650px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
 .layer2 {
    position: fixed;
    top: 40px;
    left: 150px;
    transform: translate(-50%, -50%);
    z-index: -2;
    animation: rotate 4s infinite linear;
  }

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
/* rain */
   .layer3 {
    position: fixed;
    top: 650px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
   }

   .layer4 {
    position: fixed;
    animation: rainAnimation 4s infinite linear;
    z-index: -2;
}
@keyframes rainAnimation {
    0% {
      transform: translate(40vw, -150vh);
    }
    100% {
      transform: translate(-70vw, 100vh);
    }
  }

/* cloud */
   .cloudsbackground {
    position: fixed;
    top: 650px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
   }

   .clouds {
    position: fixed;
    z-index:-2;
    animation: cloudAnimation 2s infinite;   
    top:200px;
   }

@keyframes cloudAnimation {

  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
    
}
   
 /* snow   */
   .snowbackground {
    position: fixed;
    top: 650px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
   }

/* 스탬프 */
.footprints {
    position: fixed;
    z-index: -2;
 }

 .footprints img {
    position: fixed;
}
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    background-color: #95a4e7ae;
}